@font-face {
  font-family: 'Cavafy';
  src: url("/fonts/cavafy/CavafyScriptTT.eot");
  src: url("/fonts/cavafy/CavafyScriptTT.woff") format("woff");
}

@font-face {
  font-family: 'GFSNeohellenic';
  src: url("../fonts/neohellenic/GFSNeohellenic-Regular.ttf");

}

html,
body {
  height: 100%;
}

body.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}

body {
  display: grid;
  grid-template-rows: 96px 1fr 48px;
  margin: 0px;
  padding: 0px;
  background-color: #F9F6F6;
  font-family: GFSNeohellenic;
  overflow: hidden;
}

/* Header */
header {
  height: 96px;
  background-color: #C4C4C4;
  display: grid;
  grid-template-columns: 128px 1fr;
  column-gap: 24px;
  grid-template-rows: 96px;
  align-items: center;
}


#main {
  overflow-y: auto;
}

article {
  height: calc(100% - 144px);
  padding: 12px 18px;
  display: grid;
  grid-template-columns: 200px 1fr;
  column-gap: 48px;
  align-items: center;
}

article>div {
  margin-top: 6rem;
  display: flex;
  width: 200px;
  height: 200px;
  background-image: url('/images/circle-stroke.png');
  background-repeat: no-repeat;
  align-items: center;
}

div>img {
  padding-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
}

article h1 {
  text-align: center;
  font-size: 2.5rem;
}

article p {
  text-align: justify;
  font-size: 1.3rem;
}

article br {
  margin-bottom: 24px;
}

footer {
  height: 48px;
  background: rgba(104, 138, 110, 0.72);
  box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);
}


.parallax {
  /* The image used */
  background-image: url("../images/parallax.jpg");
  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}