/* body.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
} */

/* Header */
header {
  padding: 0px 24px;
  top: 0px;
  height: 128px;
  align-items: center;
  justify-items: end;
  grid-template-columns: 200px 1fr;
  background-image: linear-gradient(hsl(188 68% 25%), hsl(188, 56%, 36%));
  border-bottom-left-radius: 80% 20%;
  /* border-bottom-right-radius: 70% 33%; */
  z-index: 10;
}

header>img {
  margin-bottom: 36px;
  margin-right: 64px;
}

header ul {}

header li {
  min-width: 64px;
  padding: 12px;
  margin-bottom: 24px;
}

header li:hover {
  border-radius: 4px;
  background-color: hsl(var(--clr-accent) / 0.75);
  cursor: pointer;
}

li {
  margin: 12px 0px;
}

li a {
  text-decoration: underline overline;
  text-decoration-style: wavy;
  text-decoration-color: hsl(var(--clr-accent) / 0.5);
  text-decoration-thickness: 2px;
  color: inherit;
  line-height: 32px;

}

li a:hover {
  border-radius: 4px;
  padding: 8px;
  background-color: hsl(var(--clr-accent) / 0.5);
  cursor: pointer;
  color: hsl(var(--clr-white));
}

header .active-link {
  border-radius: 4px;
  background-color: hsl(var(--clr-white) / 0.33);
  cursor: auto;
}

.flag {
  margin-top: 34px;
  margin-left: 12px;
  padding: 2px;
  opacity: 0.6;
  border: 2px solid hsl(var(--clr-white) / 0);
  min-height: 24px;
  min-width: 24px;
}

.flag:hover,
.flag.active-flag {
  opacity: 1;
  border: 2px solid hsl(var(--clr-white) / 0.7);
  border-radius: 24px;
}

article:first-of-type {
  margin-top: 128px !important;
}

article {
  padding: 12px 36px;
  grid-template-columns: 200px 1fr;
  align-items: center;
  margin-top: 64px;
  margin-bottom: 64px;
}

article>div {
  /* margin-top: 3.5rem; */
  display: flex;
  width: 200px;
  height: 200px;
  background-image: url('/images/circle-stroke-accent.png');
  background-size: 90%;
  background-position: center;
  opacity: 0.8;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
}

article>div:hover {
  border: 20px solid hsl(var(--clr-accent) / 0.5);
  border-radius: 200px;
}

article>div>img {
  margin: 0 auto;
}

article h1 {
  margin-bottom: 18px;
}

footer {
  height: 64px;
  bottom: 0px;
  align-items: center;
  grid-template-columns: 48px 48px 1fr;
  background-image: linear-gradient(hsl(188 68% 25%), hsl(188, 56%, 36%));
  /* border-top-left-radius: 70% 10%; */
  border-top-right-radius: 100% 50%;
  z-index: 10;
}

footer img {
  max-width: 48px;
  max-height: 48px;
}

footer img:first-of-type {
  margin-left: 24px;
}

footer h4 {
  margin-top: 6px;
}

.blockquote {
  border-top: 2px solid hsl(var(--clr-dark));
  border-bottom: 2px solid hsl(var(--clr-dark));
  padding: 12px 0px;
}

@media only screen and (max-width: 768px) {

  header ul {
    flex-wrap: wrap;
  }

  header li {
    min-width: 84px;
    margin: 0px;
    padding: 6px;
  }

  article {
    grid-template-columns: 1fr;
    grid-template-rows: 200px 1fr;
    row-gap: 6px !important;
    align-items: center;
    justify-items: center;
  }

  article:nth-child(even) {
    background-color: hsl(var(--clr-light) / 0.5)
  }

  article.article-blockquote>div {
    font-size: var(--fs-500);
    line-height: 20px !important;
  }

  article.article-blockquote p {
    font-size: var(--fs-500);
  }

  .blockquote {
    border: none;
  }

  footer {
    display: flex;
  }

}