/* Header */
header {
  top: 0px;
  z-index: 10;
}

#header-container {
  padding: 0 5vw 2vh 5vw;
  height: 15vh;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(hsl(188 68% 25%), hsl(188, 56%, 36%));
  border-bottom-left-radius: 80% 20%;
  z-index: 10;
}

#logo {
  margin-top: -18px;
  min-width: 144px;
  cursor: pointer;
}

header nav {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  font-size: x-large;
  top: -90vmax;
  /* I am using vmax here to calc by the largest dimension*/
  width: 90vw;
  border-radius: 4px;
  background-color: hsl(93 17% 10% / 0.966);
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 80% 10%;
  z-index: -10;
  transition: top .5s ease-in-out;
}

header nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 3vh 0 !important;
  text-align: center;
  user-select: none;
}

.menu-item {
  align-items: center;
  justify-content: center;
  max-width: 70vw;
  min-width: 60vw;
  margin: 18px 0px;
  border-radius: 4px;
}

.menu-item:hover {
  background-color: hsl(var(--clr-accent) / 0.75);
  cursor: pointer;
}

.active-link {
  background-color: hsl(var(--clr-white) / 0.33);
}

.flag {
  opacity: 0.6;
  border: 2px solid hsl(var(--clr-white) / 0);
  height: 36px;
  min-width: 36px !important;
}

.flag:hover,
.flag.active-flag {
  opacity: 1;
  border: 2px solid hsl(var(--clr-white) / 0.7);
  border-radius: 24px;
  padding: 2px;
}

.link li {
  margin: 24px 0px;
}

li a {
  text-decoration-color: hsl(var(--clr-accent) / 0.5);
  text-decoration-thickness: 3px;
  color: inherit;
  line-height: 32px;
}

li a:hover {
  border-radius: 4px;
  padding: 8px;
  background-color: hsl(var(--clr-accent));
  cursor: pointer;
  color: hsl(var(--clr-white));
}

article:first-of-type {
  margin-top: 144px !important;
}

article {
  padding: 3vw 5vw 3vw 5vw;
  flex-direction: column;
  margin: 2rem 0;
  justify-content: center;
  align-items: center;
}

article>div {
  min-width: 200px;
  width: 200px;
  height: 200px;
  opacity: 0.8;
  align-items: center;
  background-image: url('/images/circle-stroke-accent.png');
}

article>div>img {
  margin: 0 auto;
}

article aside {
  min-width: calc(100% - 200px - 1rem);
  flex-direction: column;
  justify-content: center;
}

/* welcome text */
article h1.fs-750 {
  padding-top: 48px;
}

article h1 {
  margin-bottom: 1.25rem;
}

article:nth-child(even) {
  background-color: hsl(var(--clr-light) / 0.5)
}

article:last-child {
  margin-bottom: 72px;
}

article p li {
  list-style-type: disc;
}

.welcome-greek {
  font-size: 3rem;
}

.blockquote {
  border-top: 2px solid hsl(var(--clr-dark));
  border-bottom: 2px solid hsl(var(--clr-dark));
  padding: 12px 0px;
  line-height: 1em;
}

form>input {
  min-width: 320px;
  border-radius: 6px;
  border: none;
  outline: none;
  padding-left: 6px;
}

form>input:nth-child(5) {
  height: 6rem;
}

form>input:last-child {
  margin: 12px 0 64px 0;
  background-color: hsl(var(--clr-dark) / 0.75);
  border: none;
}

form>input:last-child:hover {
  background-color: hsl(var(--clr-dark));
}

video {
  max-width: 100%;
}

footer {
  display: none !important;
  height: min(8vh, 11vh);
  bottom: 0px;
  padding: 10px 12% 0 5vw;
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(hsl(188 68% 25%), hsl(188, 56%, 36%));
  border-top-right-radius: 100% 50%;
  font-size: var(--fs-200);
  z-index: 10;
}

footer img {
  max-width: 48px;
  max-height: 48px;
}

em {
  font-style: normal;
  font-weight: 700;
}

/* ================================ */
/* RESPONSIVE DESIGNT - BREAKPOINTS */
/* ================================ */

@media only screen and (min-width: 480px) {
  .welcome-greek {
    font-size: 4.25rem;
  }
}

@media only screen and (min-height: 600px) {
  footer {
    display: flex !important;
  }
}

@media only screen and (min-width: 800px) {

  #menu-toggle,
  .menu-btn {
    display: none;
  }

  header nav {
    position: static;
    display: flex !important;
    border-radius: 0;
    background-color: rgba(190, 16, 16, 0);
    box-shadow: none;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    padding: 0;
    z-index: 10;
  }

  header nav ul {
    display: flex !important;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1rem;
    width: 100%;
    user-select: none;
  }

  .menu-item {
    max-width: auto;
    min-width: 64px;
    padding: 4px 8px 8px 8px;
    font-size: var(--fs-400);
  }
}

@media only screen and (min-width: 1024px) {
  article {
    flex-direction: row;
    justify-content: space-between;
    padding: 5vh 9vw 5vh 5vw;
  }

  article>div {
    margin-right: 24px;
  }
}

@media only screen and (min-width: 1280px) {
  #header-container {
    padding: 0 16vw 2vh 16vw;
  }

  footer,
  article {
    padding: 3vh 18vw 3vh 16vw;
    /* increase column gap? how? */
  }
}

/* ========================= */
/*       HAMBURGER MENU      */
/* ========================= */
#menu-toggle {
  opacity: 0;
}

#menu-toggle:checked+.menu-btn>span {
  transform: rotate(45deg);
}

#menu-toggle:checked+.menu-btn>span::before {
  top: 0;
  transform: rotate(0deg);
}

#menu-toggle:checked+.menu-btn>span::after {
  top: 0;
  transform: rotate(90deg);
}

/* When menu icon is clicked  */
#menu-toggle:checked~nav {
  display: block !important;
}

#menu-toggle:checked~nav {
  top: 11vh !important;
}

#menu-toggle:checked~nav>ul>li {
  display: flex;
  max-height: 7vh;
  min-height: 5vh;
  /* align-items: center; */
  /* justify-content: center; */
  margin: 1vh 0;
  font-size: x-large;
}

#menu-toggle {
  display: none;
}

.menu-btn {
  position: fixed;
  margin-top: 24px;
  right: 5vw;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.menu-btn span {
  max-width: 26px;
}

.menu-btn>span,
.menu-btn>span::before,
.menu-btn>span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #fefefe;
}

.menu-btn>span::before {
  content: '';
  top: -8px;
}

.menu-btn>span::after {
  content: '';
  top: 8px;
}