/* Header */
header {
  top: 0px;
  z-index: 10;
}

#header-container {
  padding: 0 5vw 2vw 5vw;
  height: 96px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(hsl(188 68% 25%), hsl(188, 56%, 36%));
  border-bottom-left-radius: 80% 20%;
  z-index: 10;
}

#logo {
  margin-top: -18px;
  min-width: 144px;
}

header nav {
  display: none;
}

header nav {
  display: block;
  position: fixed;
  top: -200%;
  width: 88vw;
  border-radius: 4px;
  background-color: hsl(93 17% 10% / 0.966);
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.5);
  border-top-right-radius: 80% 10%;
  border-bottom-left-radius: 80% 10%;
  padding: 36px 0px;
  z-index: -10;
  transition-duration: .5s;
}

header nav ul {
  display: block !important;
  width: 100%;
  padding: 0 36px;
  user-select: none;
}

header .menu-item {
  min-width: 64px;
  border-radius: 4px;
  padding: 10px 6px;
  transition-duration: .5s;
}

.menu-item:hover {
  background-color: hsl(var(--clr-accent) / 0.75);
  cursor: pointer;
}

header .active-link {
  background-color: hsl(var(--clr-white) / 0.33);
}

.flag {
  margin-top: 6px;
  opacity: 0.6;
  border: 2px solid hsl(var(--clr-white) / 0);
  height: 28px;
  min-width: 28px !important;
}

.flag:hover,
.flag.active-flag {
  opacity: 1;
  border: 2px solid hsl(var(--clr-white) / 0.7);
  border-radius: 24px;
  padding: 2px;
}

li {
  margin: 24px 0px;
}

li a {
  text-decoration: underline overline;
  text-decoration-style: wavy;
  text-decoration-color: hsl(var(--clr-accent) / 0.5);
  text-decoration-thickness: 2px;
  color: inherit;
  line-height: 32px;

}

li a:hover {
  border-radius: 4px;
  padding: 8px;
  background-color: hsl(var(--clr-accent));
  cursor: pointer;
  color: hsl(var(--clr-white));
}


article:first-of-type {
  margin-top: 144px !important;
}

article {
  padding: 3vw 5vw;
  flex-direction: column;
  margin: 2rem 0;
  justify-content: center;
  align-items: center;
}

article>div {
  min-width: 200px;
  width: 200px;
  height: 200px;
  opacity: 0.8;
  align-items: center;
  justify-content: center;
  background-image: url('/images/circle-stroke-accent.png');

}

article aside {
  min-width: calc(100% - 200px - 1rem);
  flex-direction: column;
  justify-content: center;
}

article h1 {
  margin-bottom: 1.25rem;
}

article:nth-child(even) {
  background-color: hsl(var(--clr-light) / 0.5)
}

article:last-child {
  margin-bottom: 72px;
}

.welcome-greek {
  font-size: 3rem;
}

.blockquote {
  border-top: 2px solid hsl(var(--clr-dark));
  border-bottom: 2px solid hsl(var(--clr-dark));
  padding: 12px 0px;
  line-height: 1em;
}

form>input {
  min-width: 320px;
  border-radius: 6px;
  border: none;
  outline: none;
  padding-left: 6px;
}

form>input:nth-child(5) {
  height: 6rem;
}

form>input:last-child {
  margin: 12px 0 64px 0;
  background-color: hsl(var(--clr-dark) / 0.75);
  border: none;
}

form>input:last-child:hover {
  background-color: hsl(var(--clr-dark));
}

footer {
  height: 64px;
  bottom: 0px;
  padding: 10px 5vw 0 5vw;
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(hsl(188 68% 25%), hsl(188, 56%, 36%));
  border-top-right-radius: 100% 50%;
  z-index: 10;
}

footer img {
  max-width: 48px;
  max-height: 48px;
}

em {
  font-weight: 700;
}

/* ================================ */
/* RESPONSIVE DESIGNT - BREAKPOINTS */
/* ================================ */

@media only screen and (min-height: 600px) {

  header {
    height: 128px;
  }
}

@media only screen and (min-width: 800px) {

  header nav {
    display: flex;
  }

  #menu-toggle,
  .menu-btn {
    display: none;
  }

  header nav {
    position: static;
    display: flex !important;
    width: 100%;
    border-radius: 0;
    background-color: rgba(190, 16, 16, 0);
    box-shadow: none;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    padding: 0;
    z-index: 10;
  }

  header nav ul {
    display: flex !important;
    justify-content: flex-end;
    gap: 1rem;
    width: 100%;
    padding: 0;
    user-select: none;
  }

}

@media only screen and (min-width: 1024px) {

  article {
    flex-direction: row;
    justify-content:space-between;
  }

  /* welcome text */
  article h1.fs-750 {
    padding-top: 48px;
  }
}

@media only screen and (min-width: 1280px) {

  #header-container,
  footer,
  article {
    padding: 3vw 16vw;
    /* increase column gap? how? */
  }
}

/* ========================= */
/*       HAMBURGER MENU      */
/* ========================= */

#menu-toggle {
  opacity: 0;
}

#menu-toggle:checked+.menu-btn>span {
  transform: rotate(45deg);
}

#menu-toggle:checked+.menu-btn>span::before {
  top: 0;
  transform: rotate(0deg);
}

#menu-toggle:checked+.menu-btn>span::after {
  top: 0;
  transform: rotate(90deg);
}

/* When menu icon is clicked  */
#menu-toggle:checked~nav {
  display: block !important;
}

#menu-toggle:checked~nav {
  top: 124px !important;

}

#menu-toggle:checked~nav>ul>li {
  display: flex;
  height: 48px;
  align-items: center;
  justify-content: center;
  margin: 6px auto;
  font-size: x-large;

}

#menu-toggle {
  display: none;
}

.menu-btn {
  position: fixed;
  margin-top: 24px;
  right: 5vw;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.menu-btn span {
  max-width: 26px;
}

.menu-btn>span,
.menu-btn>span::before,
.menu-btn>span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #fefefe;
  transition-duration: .25s;
}

.menu-btn>span::before {
  content: '';
  top: -8px;
}

.menu-btn>span::after {
  content: '';
  top: 8px;
}




/* @media only screen and (max-width: 768px) {


 

 

  article.article-blockquote>div {
    font-size: var(--fs-500);
    line-height: 20px !important;
  }

  article.article-blockquote p {
    font-size: var(--fs-500);
  }

  .blockquote {
    border: none;
  }

  article>form {
    padding-left: 0vw;
  }

  form>input {
    width: 93vw;
  }

  footer {
    display: flex !important;

  }

  footer img {
    display: none;

  }

  footer h4 {
    margin: 12px 12px 0px 0px;
    text-align: center;
  }

} */